
.accordion-toggle {
    cursor: pointer;
    font-size: 12px;
    font-weight:bold;
    background-color: #eee;
    color: #444;
    margin: 0 0 0 16px !important;
}
.accordion-toggle a {
    color:#444;
        background-color: #eee;
            padding: 10px 0;
display:block;

}
 .accordion-content a{
     color:black;
 }
  .accordion-content {
      display: none;}
  .accordion-content.default {
      display: block;
      font-size: 12px;

  }

  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
  .accordion-content a p{
      padding: 0 18px 0 32px;
      cursor:pointer;
  }

  .accordion-toggle a:hover, .accordion-toggle a.active{
          background-color: #ccc;

  }

  .accordion-toggle a:after{
    content: '\25B8'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: left;
    margin:0 5px 0 0;
    }
  .accordion-toggle a.active:after{
          content: "\25BE"; /* Unicode character for "minus" sign (-) */
  }