
.accordion-toggle {
    cursor: pointer;
    font-size: 12px;
    padding: 0 18px;
    font-weight:bold;
}
.accordion-toggle a {
    color:black;
}
 .accordion-content a{
     color:black;
 }
  .accordion-content {
      min-height:10px;
      display: none;}
  .accordion-content.default {
      display: block;
      font-size: 12px;

  }

  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
  .accordion-content a p{
      padding: 0 18px 0 32px;
      cursor:pointer;
  }


