<div id="mainCon" class="text-center">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#main"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-9 col-md-9 col-lg-9 text-center"><p id="title">Certification</p></div>
    </div>

    <div class="viewCon">
        <div  id="Loader">
            <p style="font-size:20px;">Stand by...</p>
            <img src="Images/loading2.gif" />
        </div>
        <div  style="word-wrap: break-word;display:none;" id="display">
            <p style="font-size:15px;">Your document has been successfully certified with Transaction ID:</p>
            <p> </p>
            <p style="font-size:15px;">0xcc9hqt0x6gk7meb5qkeios783igwyk163l047uxc9so3dxplnk2hfvszggmow08q5e188</p>
            <p> </p>
            <p style="font-size:15px;">Enter the email addresses of the parties that participates in this transaction</p>
            <input type="email" placeholder="Email" class="form-control" />
            <p> </p>
            <input type="email" placeholder="Email" class="form-control" />
            <p> </p>
            <input type="email" placeholder="Email" class="form-control" />
            <div style="font-size:12px;" class="text-right">+ More</div>
            <button id="next" class="yes"><i class="fas fa-chevron-circle-right"></i> Next</button>
        </div>
    </div>

</div>
