<div id="mainCon" class="text-center">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#main"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-9 col-md-9 col-lg-9 text-center"><p id="title">Certification</p></div>
    </div>

    <div class="viewCon">
        <div id="Loader">
            <p style="font-size:20px;">Stand by...</p>
            <img src="Images/loading2.gif" />
        </div>
        <div style="display:none;" id="display">
            <p style="font-size:20px;">Success!</p>
            <p> </p>
            <p style="font-size:20px;">Originator has been notified</p>

            <button id="done" class="yes"><i class="fas fa-chevron-circle-right"></i> DONE</button>
        </div>
    </div>

</div>
