<div id="mainCon">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#myAccount"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-9 col-md-9 col-lg-9 text-center"><p>Certification Details</p></div>
    </div>
    <div style="margin-top:60px;">
        <h4>Document Details</h4>
        <div style="height:100px;">
            <p class="pBold col-md-5 col-lg-5  col-xs-5">Orginator</p>
            <p class="  col-md-7 col-lg-7  col-xs-7">danboh@student.ie.edu</p>
            <p class="pBold col-md-5 col-lg-5  col-xs-5">Created on</p>
            <p class="  col-md-7 col-lg-7  col-xs-7">06/01/2018</p>
            <p class="pBold col-md-5 col-lg-5  col-xs-5">Hash Code</p>
            <p class="col-xs-7">5FGG54FDF5VF..</p>
        </div>
        <h4 id="cert">Certification History<span style="float:right;"><i style="color:#5FAAE6;" class="fas fa-align-left"></i>    <i class="fas fa-table"></i></span></h4>
        <div id="emails">
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
            <div class="email">
                <p>email@email.com</p>
                <p>Certified on XX/YY/ZZZZ</p>
            </div>
        </div>
    </div>

</div>
