<div class="mainCon">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#myAccount"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-9 col-md-9 col-lg-9 text-center"><p>Change Plan</p></div>
    </div>
    <div class="scrolled text-center" style="margin-top:60px;">
        <h4>Credit Card Details</h4>
        <input class="form-control" placeholder="Name on the card" type="text" />
        <p> </p>
        <input class="form-control" placeholder="Credit Card Number" type="text" />
        <p> </p>
        <input style="width:50%;" class="col-xs-6 col-md-6 col-lg-6 form-control" placeholder="Expeiration Month" type="text" />
        <input style="width:50%;" class="col-xs-6 col-md-6 col-lg-6 form-control" placeholder="Security Code" type="text" />
        <br />
        <h4>Billing Address</h4>
        <input class="form-control" placeholder="Address 1" type="text" />
        <p> </p>
        <input class="form-control" placeholder="Address 2" type="text" />
        <p> </p>
        <input style="width:50%;" class="col-xs-6 col-md-6 col-lg-6 form-control" placeholder="City" type="text" />
        <input style="width:50%;" class="col-xs-6 col-md-6 col-lg-6 form-control" placeholder="State/Province" type="text" />

        <br />
        <br />
        <select class="form-control">
            <option>Country</option>
            <option>Country1</option>
            <option>Country2</option>
        </select>
        <button class="yes"><i class="fas fa-check-circle"></i> Submit</button>
        <button id="cancel" class="no"><i class="fas fa-times-circle"></i> Cancel</button>
    </div>

</div>
