<div class="text-center">
    <div id="mySidenav" class="sidenav text-left">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-angle-left fa-2x"></i></a>
        <a href="" onclick="closeNav()" style="background-color:#F8F8F8;color:#FF8C3D;border-left:2px solid #FF8C3D;"><i class="fas fa-home"></i> Home</a>
        <a href="#myAccount"><i class="fas fa-user"></i> My Account</a>
        <a href="#login"><i class="fas fa-sign-out-alt"></i> Log out</a>
    </div>

    <div class="header text-left">
        <div style="padding:10px 20px;"><span class="menu" style="font-size:20px;cursor:pointer;" onclick="openNav()">&#9776; </span></div>
    </div>
    <div>
        <img style="margin-top:55px;" class="img-responsive" src="Images/SheetBlock_black.png" />
    </div>
    <div class="viewCon">
        <h1>Welcome</h1>
        <p  id="parag">Please click on Validate to check if this file has been certified with SheetBlock.</p>
        <p  id="fileName"></p>
        <button id="validate" class="btn btn-primary homeBtn"><img class="svg" src="Images/validate.svg" /> <br /><br />Validate</button>
        <button disabled="disabled" id="certify" class="btn btn-warning homeBtn" style="color:#000000;"><img class="svg" src="Images/certify.svg" /> <br /><br />Certify</button>
    </div>
</div>
