<div id="mainCon" class="text-center">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#main"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-8 col-md-8 col-lg-8 text-center"><p>Alert</p></div>
    </div>
    <div class="viewCon">
        <div><i style="color:#FFE419;" class="fas fa-exclamation-triangle fa-4x"></i></div>
        <br />
        <p style="font-size:20px;">This document hasn't been saved yet. Would you like to save it?</p>
        <button id="yesSave" class="yes"><i class="fas fa-check-circle"></i> YES</button>
        <button id="noSave" class="no"><i class="fas fa-times-circle"></i> Cancel</button>
    </div>

</div>