<div id="mainCon" class="text-center">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#main"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-8 col-md-8 col-lg-8 text-center"><p>Share Certified File</p></div>
    </div>
    <div class="viewCon">

        <p style="font-size:20px;">If you would like to share this document via SheetBlock's platform, Please enter a password below and hit send.</p>
        <input type="password" placeholder="Unique Password" class="form-control" />
        <br />
        <button id="send" class="yes"><i class="fas fa-location-arrow"></i> SEND</button>
        <button id="done" class="no"><i class="fas fa-times-circle"></i> DONE</button>
    </div>

</div>