<div id="mainCon" class="text-center">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#main"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-9 col-md-9 col-lg-9 text-center"><p>File Sharing Completed</p></div>
    </div>
    <div class="viewCon">

        <p style="font-size:15px;">A unique URL has been sent to the spescified email addresses.</p>
        <p style="font-size:15px;">In order ro guarantee confidientiality, your document has been securely stored in our servers using the AES-256 specification.</p>
        <p style="font-size:15px;">Only users with the secure link, email address and password you created can access it.</p>
        <p style="font-size:15px;">Documents not accesses within 30 days will be automatically deleted.</p>

        <button id="done" class="yes"><i class="fas fa-check-circle"></i> DONE</button>
    </div>

</div>