<div id="mainCon" class="text-center">
    <div class="header">
        <div style="margin-top:7px" class="col-xs-2 col-md-2 col-lg-2 text-left"><a href="#main"><i class="fas fa-angle-left fa-2x"></i></a></div>
        <div style="margin-top:10px;font-size:18px;" class="col-xs-8 col-md-8 col-lg-8 text-center"><p>Validation</p></div>
    </div>

    <div class="viewCon">
        <div  id="Loader">
            <p style="font-size:20px;">Stand by...</p>
            <img src="Images/loading2.gif" />
        </div>
        <div style="display:none;" id="display">
            <p style="font-size:20px;">This document hasn't been certified.</p>
            <p> </p>
            <p style="font-size:20px;">Would you like to certify it?</p>
            <button id="yesValidate" class="yes"><i class="fas fa-check-circle"></i> YES</button>
            <button id="noValidate" class="no"><i class="fas fa-times-circle"></i> Cancel</button>
        </div>
    </div>

</div>
