Web.Release.config
Web.Debug.config
Web.config
packages.config
CrossPlatformProNetWeb.csproj.user
CrossPlatformProNetWeb.csproj
bin
Content
Functions 
obj
Properties 
Scripts
SharePointTaskPaneAddInWebFormItem
