<!DOCTYPE html>
<html>
<head>
    <title>User Authentication</title>
	<meta charset="utf-8" />
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/Office.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="icon" href="Images/ProNet_logo.png">-->
</head>
<body class="container" data-ng-app="myApp" data-ng-controller="myCtrl">
     
            <input placeholder="Token"  class="form-control form-control-sm" data-ng-model="UserToken" id="txtUserToken" />
 
    <p id="result" style="color:red;font-size:12px;"></p>
    <div dir="rtl">
        <button class="btn btn-sm" data-ng-click="CheckUserToken()"  id="btnGetToken">Enter</button>
        <a dir="ltr" onclick="ShowWhereIsMyToken()" href="#ImgToken" data-toggle="collapse">Where is my token?</a>
    </div>
   
    <div id="ImgToken"  class="collapse">
        <img class="img-responsive" src="../Images/wheresmytokenimg.PNG" />
    </div>
    <script>
        Office.initialize = function () { };
        function takeToken () {
            localStorage.setItem("userToken", document.getElementById("token").value);

            Office.context.ui.messageParent(true);

            // document.getElementById("result").innerText = localStorage.getItem("userToken");

        }
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http, $compile) {

            //initializations
            
            $scope.UserToken = "";
            $scope.remaining = 5;
            $scope.CheckUserToken = function () {
                
            var uri = "https://test-landlord.assistantbroker.com/ajax/language_library_ajax.php?action=get_user_libraries&token=" + $scope.UserToken;
            $http.get(uri,
              {
                  'Content-Type': 'application/json',
                  'Accept': 'application/json'
              })
              .then
            (
                  function (response) {
                      console.log(response);
                      if (response.data.message == "Invalid token" || $scope.UserToken.trim() == "") {
                          document.getElementById("result").innerText = "Invalid Token Entered, you have " + $scope.remaining-- + " left";
                          if ($scope.remaining == -1) {
                              //Office.context.ui.messageParent(true);
                              document.getElementById("btnGetToken").disabled = true;


                          }
                          

                      }
                      else {
                          localStorage.setItem("userToken", $scope.UserToken);
                         // document.getElementById("result").innerText = "not error";
                          Office.context.ui.messageParent(true);


                      }
                      console.log($scope.UserLibraries);
                  },
                  function (response) {
                      // $scope.UserLibraries = null;
                  }
               );

        }
    
        });
    </script>
</body>
</html>
