<!DOCTYPE html>
<html>
<head>
    <title>any</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
.accordion-toggle {cursor: pointer;}
  .accordion-content {display: none;}
  .accordion-content.default {display: block;}

    </style>

</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl">




    <form>
        <label for="txtUserToken">User Token</label>
        <input type="text" data-ng-model="UserToken" id="txtUserToken" />
        <input id="btn" type="button" data-ng-click="GetUserLibraries()" value="Get User Libraries" />
        <input id="btnCheckUserToken" type="button" data-ng-click="CheckUserToken()" value="check  User token" />
        <br />
        <div id="dvUserLibraries">
        </div>

        <label for="txtLibraryID">Library ID</label>
        <input type="text" data-ng-model="LibraryID" id="txtLibraryID" />
        <input id="btnGetLibrariesDocuments" type="button" data-ng-click="GetLibrariesDocuments()" value="Get Libraries Documents" />
        <div id="dvLibrariesDocuments">
        </div>
    </form>


    <select id="selectLib">
        <option style="display:none;"  selected disabled hidden>select</option>
        <option ng-repeat="x in UserLibraries" id="{{x.id}}">{{x.title}}</option>
    </select>
   
    <!--<uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" heading="{{x.name}}" ng-repeat="x in LibrariesDocuments">
            {{x.body}}
        </div>
    </uib-accordion>-->
    <!--<div ng-repeat="x in LibrariesDocuments|orderBy: 'name' | filter : Search" on-finish-render="ngRepeatFinished">
        <button data-ng-click="SaveCurrentDoc(x.body,x.name)" class="accordion"> &nbsp;&nbsp;{{x.name}}</button>
        <div class="panel-acc">
{{x.body}}        </div>

    </div>-->

    <!--<section id="accordion">
        <div ng-repeat="x in LibrariesDocuments|orderBy: 'name' | filter : Search">
            <input type="radio" name="accordion-group" id="{{$index}}" />
            <label for="{{$index}}">{{x.name}}</label>
            <article>
                <p>{{x.body}}</p>
            </article>
        </div>
    </section>-->
    <!--<ul>
        <li ng-repeat="x in LibrariesDocuments">{{x.name}} : {{x.body}}</li>
    </ul>-->
    <div id="accordion">
        <h4 class="accordion-toggle" ng-repeat-start="x in LibrariesDocuments|orderBy: 'name' | filter : Search" class="accordion__head" on-finish-render="ngRepeatFinished">{{x.name}}</h4>
        <div class="accordion-content" ng-repeat-end>
            <p>{{x.body}}</p>
        </div>
    </div>
    <!--<dl class="accordion">

        <dt ng-repeat-start="x in LibrariesDocuments|orderBy: 'name' | filter : Search" class="accordion__head" on-finish-render="ngRepeatFinished"><a data-ng-click="clickedDoc()" href="">{{x.name}}</a></dt>
        <dd class="accordion__body" ng-repeat-end>
                <p>
                    {{x.body}}
                </p>
        </dd>

    </dl>-->

    <script>


    

        var app = angular.module('myApp', ['ngAnimate', 'ngSanitize', 'ui.bootstrap']);
        app.directive('onFinishRender', function ($timeout) {
            return {
                restrict: 'A',
                link: function (scope, element, attr) {
                    if (scope.$last === true) {
                        $timeout(function () {
                            scope.$emit(attr.onFinishRender);
                        });
                    }
                }
            }
        });
        app.controller('myCtrl', function ($scope, $http, $compile) {

            //initializations
            $scope.UserLibraries = [];
            $scope.LibrariesDocuments = [];
            $scope.UserToken = "";
            $scope.LibraryID = "";
            $scope.oneAtATime = true;
            $scope.status = {
                isCustomHeaderOpen: false,
                isFirstOpen: true,
                isFirstDisabled: false
            };
            //functions
            $scope.GetUserLibraries = function () {


                var uri = "https://test-landlord.assistantbroker.com/ajax/language_library_ajax.php?action=get_user_libraries&token=" + $scope.UserToken;
                $http.get(uri,
                  {
                      'Content-Type': 'application/json',
                      'Accept': 'application/json'
                  })
                  .then
                (
                      function (response) {
                          console.log(response);
                          $scope.UserLibraries= response.data.data;
                          console.log($scope.UserLibraries);
                      },
                      function (response) {
                          // $scope.UserLibraries = null;
                      }
                   );

            }
            $scope.GetLibrariesDocuments = function () {

                var uri = "https://test-landlord.assistantbroker.com/ajax/language_library_ajax.php?action=get_data_for_onlyoffice_plugin&token=" + $scope.UserToken + "&library_id=" + $scope.LibraryID;
                $http.get(uri,
                  {
                      'Content-Type': 'application/json',
                      'Accept': 'application/json'
                  })
                  .then
                (
                      function (response) {
                          $scope.LibrariesDocuments = response.data.snippets;
                          console.log($scope.LibrariesDocuments);
                      },
                      function (response) {
                          $scope.LibrariesDocuments = null;
                          console.log($scope.LibrariesDocuments);
                      }
                   );

            }
            //$scope.accordion = function () {
            //    var acc = document.getElementsByClassName("accordion");
            //    var i;
            //    console.log(acc.length);
            //    for (i = 0; i < acc.length; i++) {
            //        acc[i].onclick = function () {
            //            console.log("clicked");
            //            this.classList.toggle("active");
            //            var panel = this.nextElementSibling;
            //            if (panel.style.maxHeight) {
            //                panel.style.maxHeight = null;
            //            } else {
            //                panel.style.maxHeight = panel.scrollHeight + "px";
            //            }
            //        }
            //    }
            //}
            
            $scope.CheckUserToken = function () {
                var uri = "https://test-landlord.assistantbroker.com/ajax/language_library_ajax.php?action=get_user_libraries&token=" + $scope.UserToken;
                $http.get(uri,
                  {
                      'Content-Type': 'application/json',
                      'Accept': 'application/json'
                  })
                  .then
                (
                      function (response) {
                          console.log(response);
                          if (response.data.message == "Invalid token") alert("Invalid");
                          else alert("valid");
                          console.log($scope.UserLibraries);
                      },
                      function (response) {
                          // $scope.UserLibraries = null;
                      }
                   );

            }
            $("#selectLib").change(function () {
                $scope.LibraryID = $(this).children(":selected").attr("id");
                $scope.GetLibrariesDocuments();
                //$scope.accordion();

            });
            $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
                $('#accordion').find('.accordion-toggle').click(function () {

                    //Expand or collapse this panel
                    $(this).next().slideToggle('fast');

                    //Hide the other panels
                    $(".accordion-content").not($(this).next()).slideUp('fast');

                });
            });
            $scope.clickedDoc = function () {
                var allPanelheads = $('.accordion > .accordion__head');
                if ($(this).parent().hasClass('expanded')) {
                    $(this).parent().removeClass('expanded');
                    $(this).parent().next().slideUp('fast').removeClass('expanded');
                } else {
                    $('.accordion > .accordion__body').hide().slideUp('fast').removeClass('expanded');
                    allPanelheads.removeClass('expanded');
                    console.log("expanded");
                    $(this).parent().addClass('expanded');
                    $(this).parent().next().slideDown('fast').addClass('expanded');
                    return false;
                }
            }

        });


    </script>


    
</body>
</html>
